@model RuteoBusesDAL.ParadaRuta

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ParadaRuta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input asp-for="paradaRutaId" hidden class="form-control" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="paradaRutaId" class="control-label"></label>
                <input asp-for="paradaRutaId" class="form-control" />
                <span asp-validation-for="paradaRutaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombreParadaRuta" class="control-label"></label>
                <input asp-for="nombreParadaRuta" class="form-control" />
                <span asp-validation-for="nombreParadaRuta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rutaId" class="control-label"></label>
                <input asp-for="rutaId" class="form-control" />
                <span asp-validation-for="rutaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="busId" class="control-label"></label>
                <input asp-for="busId" class="form-control" />
                <span asp-validation-for="busId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
